NEXT_PUBLIC_SUPABASE_URL=https://tnsratbuwbkasxamsuqm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRuc3JhdGJ1d2JrYXN4YW1zdXFtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk3ODA5OTAsImV4cCI6MjA5NTM1Njk5MH0.Rh7L0OOTXIS2Gg6CsX9CHf__KEePyhHDuZQmHQzUiQc
NEXT_PUBLIC_SITE_URL=http://localhost:3000